@charset 'utf-8';

@import 'utils/variables';
@import 'utils/helpers';
@import 'vendors/include-media';
@import 'base/base';

#wrapper{
	max-width: 400px;
	margin: 0 auto;
}
main{
	padding: $container-side-padding 0;
}
.expression{
	font-size: 24px;
	text-align: center;
	.form-control{
		width: 100%;
		display: block;
		text-align: center;
	}
	button{
		font-size: 20px;
	}
	.col-1{
		width: 40%;
	}
	.col-2{
		width: 60%;
	}
	.text-holder{
		font-size: 18px;
	}
	label{
		display: block;
		cursor: pointer;
		margin: 0 10px;
	}
}
